@page
@model SolutionViewModel
@{
    ViewData["Title"] = "SolutionView";
}

<center>
    <table style="border:1px solid">
        <tr>
            <th style="min-width:200px"><center><b>Formula</b></center></th>
            <th style="width:200px"><center><b>Truth label</b></center></th>
        </tr>
        @foreach (var formula in Model.TableauRequest.RawFormulas) {
            <tr>
                <td><center>@Html.Encode(formula.Formula)</center></td>
                <td><center>@Html.Encode(formula.TruthLabel)</center></td>
            </tr>
        }
    </table>

    @if (Model.ViewType == SolutionViewModel.SolutionViewType.Text) {
        @await Component.InvokeAsync("Text", Model.SolutionNode)
    }
</center>