@page
@using Services
@using Ts.App.Model
@using Ts.App.Pages.Tableau
@model Ts.App.Pages.Tableau.SolutionViewModel
@{
    ViewData["Title"] = "SolutionView";
}

<style>
    .center {
        margin: auto;
        width: 50%;
    }
</style>

<center>
<table style="border:1px solid">
        <tr>
            <th><div class="center"><b>Formula</b></div></th>
            <th><div class="center" style="width: 100px;"><b style="width: 50%;">Truth label</b></div></th>
        </tr>
        @foreach (var formula in Model.AppSolutionRequest.TableauSolution.TableauInput.GetAllNodes()) {
            <tr>
                <td><div style="margin-left: 20px; min-width: 100px; white-space: nowrap;">@Html.Encode(FormulaRawInputView.GetFormulaView(formula.Formula))</div></td>
                <td><div  style="margin: auto; width: 50%;">@Html.Encode(formula.TruthLabel)</div></td>
            </tr>
        }
    </table>
</center>
    <div style="text-align:center">
        <!-- Solution view components -->
        @if (Model.ViewType == SolutionViewType.Text) {
            @await Component.InvokeAsync("Text", Model.AppSolutionRequest.TableauSolution.SolutionNode)
        }
    </div>

    @if (Model.AppSolutionRequest.ExpectedTableauType != TableauType.Default) {
    <div class="center">

        <p>Expected result: @Html.DisplayFor(m => m.AppSolutionRequest.ExpectedTableauType)</p>
        <p>Current result: @Html.DisplayFor(m => m.AppSolutionRequest.TableauType)</p>
    </div>
    }
