@page
@using Microsoft.AspNetCore.Html;
@model SolutionViewModel
@{
    ViewData["Title"] = "SolutionView";
}

<h2>SolutionView</h2>

<table>
    <tr>
        <th><b>Formula</b></th>
        <th><b>Truth label</b></th>
    </tr>
    @foreach (var formula in Model.TableauRequest.RawFormulas) {
        <tr>
            <td>@Html.Encode(formula.Formula)</td>
            <td>@Html.Encode(formula.TruthLabel)</td>
        </tr>
    }
</table>

<style>
    #textSolution {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }
</style>

<center>
    <div id="textSolution" style="white-space: pre">
        <b>
            @foreach (var line in Model.Canvas) {
                @(new HtmlString(line + "</br>"))
            }
        </b>
    </div>
</center>
