@page
@model TsWebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Tableau solver - prepositional logic</h3>

<div>
    <p>
        Formula input examples:<br/>
        (NOT (p OR q)) EKV ((NOT p) AND (NOT q))<br/>
        (p IMP q) EKV ((NOT q) IMP (NOT p))<br/>
        (p IMP (q IMP r)) IMP ((p IMP q) IMP (p IMP r))<br/>
        (p IMP (q IMP p))<br/>
        (p EKV (NOT (NOT p)))<br/>
        ((NOT q) IMP ((NOT p) OR q))<br/>
    </p>
</div>
