@page
@model TsWebApp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Jakub Sykora<br />
    jakubsykora@protonmail.com<br />
</address>

<address>
    <strong>Github:</strong> <a href="https://github.com/Sykoj/TS-web-app">TS-web-app</a><br />
</address>
